---
import { Image } from "astro:assets"
import FiveBrains from "@hero/assets/FiveBrains.png"
import NavbarDesktop from "@hero/components/NavbarDesktop.astro"

const NavLinks = [
  {text: "Pomodoro", href: "/pomodoro"},
  {text: "Organizador", href: "/organizador"},
  {text: "Calendario", href: "/calendario"},
  {text: "Biblioteca", href: "/biblioteca"},
  {text: "Estadísticas", href: "/estadisticas"}
]
---

<header class="fixed w-full h-20 z-50 lg:px-10" id="navbar">
  <nav class="w-full h-full flex items-center justify-center lg:justify-between">
    <a href="/" class="z-50">
      <Image src={FiveBrains} alt="Five Brains Logo" class="size-20" />
    </a>    
    <NavbarDesktop NavLinks={NavLinks} />
  </nav>
</header>

<script is:inline>
  const navbar = document.getElementById('navbar')
  window.addEventListener('scroll', () => {
    navbar.classList.toggle('navbar-blur', window.scrollY > 10)
  })
</script>