---
import ArrowDown from "@hero/assets/ArrowDown.astro"
---

<section
  class="
    w-full h-dvh
    bg-[linear-gradient(to_right,var(--color-gray-primary)_1px,transparent_1px),linear-gradient(to_bottom,var(--color-gray-primary)_1px,transparent_1px)]
    bg-[size:80px_80px]
  ">
  <div data-aos="zoom-in" data-aos-delay="200" data-aos-duration="500" class="w-full h-full text-center flex flex-col items-center justify-center gap-4 p-8 animate-fade-in">
    <h1 class="text-8xl text-center">
      <span class="font-bold">
        Five
      </span>
      Brains
    </h1>
    <h2 class="text-2xl text-center opacity-85">
      5 herramientas para estudiar mejor
    </h2>
  </div>
  <a data-aos="zoom-in" data-aos-delay="200" data-aos-duration="500" href="#que-es-fivebrains" class="absolute bottom-10 left-1/2 -translate-x-1/2 animate-fade-in">
    <ArrowDown class="size-20 animate-vertical-bounce animate-iteration-count-infinite" />
  </a>
</section>
