---
import Advantage from "@hero/assets/Advantage.gif"
---

<section class="w-full h-full bg-secondary-purple text-white flex flex-col lg:gap-8 items-center justify-center p-8 lg:py-20
  bg-[linear-gradient(to_right,var(--color-gray-secondary)_1px,transparent_1px),linear-gradient(to_bottom,var(--color-gray-secondary)_1px,transparent_1px)]
  bg-[size:80px_80px]
">
    <div data-aos="zoom-out" data-aos-delay="200" data-aos-duration="500" class="flex flex-col items-center justify-center gap-4 lg:gap-8">
    <h3 id="que-es-fivebrains" class="text-3xl text-center lg:text-5xl font-semibold">
      Únete a la revolución del estudio inteligente
    </h3>
    <button class="w-fit h-full cursor-pointer font-medium p-4 lg:p-6 text-lg lg:text-xl rounded-2xl bg-accent-green focus:bg-primary-blue hover:bg-primary-blue transition-all duration-200 ease-in-out hover:animate-jelly">
      Potencia tus 5 cerebros! 
    </button>
    <div>
      <img src={Advantage.src} alt="Brain">
    </div>
  </div>
</section>