---
import Question from "@hero/assets/Why.gif"
import ModalPower from "@hero/components/ModalPower.astro"
---

<section class="w-full h-full bg-accent-green text-white flex flex-col lg:flex-row-reverse lg:gap-8 items-center justify-center p-8 lg:py-20
  bg-[linear-gradient(to_right,var(--color-gray-secondary)_1px,transparent_1px),linear-gradient(to_bottom,var(--color-gray-secondary)_1px,transparent_1px)]
  bg-[size:80px_80px]
">
  <div data-aos="zoom-in" data-aos-delay="200" data-aos-duration="500" class="flex flex-col items-center justify-center gap-4 lg:gap-8">
    <h3 id="que-es-fivebrains" class="text-3xl lg:text-5xl font-semibold">
      ¿Por qué FiveBrains?
    </h3>
    <div>
      <img src={Question.src} alt="Brain">
    </div>
  </div>
  <div data-aos="zoom-in" data-aos-delay="200" data-aos-duration="500" class="flex flex-col items-center justify-center mt-2 lg:mt-0 gap-4 lg:gap-8">
    <div class="text-center lg:text-2xl lg:w-[36rem]">
      <p>
        En un mundo donde la cantidad de información y tareas puede ser abrumadora, <span class="font-bold">FiveBrains te ofrece la ventaja que necesitas</span>.
      </p>
      <p>
        <span class="font-bold">Descubre</span> cómo nuestra aproximación única al <span class="font-bold">estudio</span> puede <span class="font-bold">cambiar tu experiencia académica para siempre</span>.
      </p>
    </div>
    <button onclick="document.getElementById('waitlist_modal').showModal()" class="w-fit h-full cursor-pointer font-medium p-4 lg:p-6 text-lg lg:text-xl rounded-2xl bg-primary-blue focus:bg-secondary-purple hover:bg-secondary-purple transition-all duration-200 ease-in-out hover:animate-rubber-band">
      Potencia tus 5 cerebros!
    </button>
    <ModalPower />
  </div>
</section>