---
import Layout from "@hero/layouts/Layout.astro"
import Title from "@biblioteca/sections/Title.astro"
---

<Layout>
	<main class="w-full h-full flex flex-col items-center justify-center">
    <Title />
  </main>
</Layout>