---
import headData from "@hero/metadata/metadata"
import Layout from "@hero/layouts/Layout.astro"
import Title from "@hero/sections/Title.astro"
import Whatis from "@hero/sections/Whatis.astro"
import Why from "@hero/sections/Why.astro"
import Transformation from "@hero/sections/Transformation.astro"
---

<Layout meta={headData}>
	<main class="w-full h-full flex flex-col items-center justify-center">
		<Title />
		<Whatis />
		<Why />
		<Transformation />
	</main>
</Layout>